main {
  background-color: #efefef;
}

.waves {
  width: 30%;
}

.overskrift {
  color: #648ec5;
  position: absolute;
  top: 8%;
  right: 5%;
  font-family: "Italiana", serif;
  z-index: 2;
  font-size: 4rem;
}

.underoverskrift {
  position: absolute;
  top: 21%;
  right: 7%;
  line-height: 0.8rem;
}

/* STYLING AF GRID_1 */
.grid_1 {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
  z-index: 1;
  position: absolute;
  top: 16%;
  left: 14%;
}

.grid_1 img {
  padding: 0.5rem;
  width: 45%;
  height: auto;
  background-color: white;
}

/* "HVER ER JEG" SECTION */
.hvem {
  margin-top: 15rem;
  /* margin-bottom: 1rem; */
  text-align: center;
  line-height: 1.5rem;
}

h3 {
  color: #648ec5;
  font-family: "Italiana", serif;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

/* "LÆS MERE" KNAP  - STYLING OG HOVER*/

.knap {
  transition: transform 0.3s ease;
  text-align: center;
}

.knap a {
  font-family: "Just Me Again Down Here", serif;
  font-size: 1.6rem;
  color: #fdcc26;
  text-decoration: none;
  cursor: pointer;
}

.knap:hover {
  transform: scale(1.3);
}

@media screen and (min-width: 801px) {
  .knap {
    margin-top: 2rem;
  }
  .knap a {
    font-size: 2rem;
  }

  .waves {
    width: 20%;
  }

  .overskrift {
    position: absolute;
    top: 5%;
    left: 15%;
    font-size: 10rem;
  }
  .grid_1 {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0; */
    position: absolute;
    top: 28%;
    left: 10%;
  }

  .grid_1 img {
    /* padding: 0.5rem; */
    width: 25%;
    height: auto;
    background-color: white;
  }

  .hvem {
    margin-top: 22rem;
    /* margin-bottom: 1rem; */
    text-align: center;
    line-height: 2rem;
    padding-inline: 30vw;
  }

  h3 {
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  .underoverskrift {
    top: 41%;
    right: 25%;
  }

  .underoverskrift p {
    font-size: 3rem;
    line-height: 3rem;
  }
}

/* GRID_2-2 */
.projekter {
  margin-top: 3rem;
  /* margin-left: 1rem; */
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.grid_2-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.emner li {
  padding: 1rem;
  border-bottom: #648ec5 solid;
}

.grid_waves {
  display: flex;
  justify-content: right;
  padding-bottom: 2rem;
}
.grid_waves img {
  width: 75%;
}

@media screen and (min-width: 801px) {
  li {
    padding: 1rem;
    font-size: 1.3rem;
  }

  .grid_waves img {
    width: 65%;
  }
}
