/* FONTS 
font-family: "Italiana", serif;
font-family: "Just Me Again Down Here", serif; */

/* COLOUR 
background: #efefef;
knapper og hover: #fdcc26;
text: #444444;
blå: #648ec5; */

/* STØRRELSER 
h1: 4rem/10rem
h2: 2.5rem/3.5rem
h3: 2rem/3rem
p: 1.3rem (untaget for underoverskrift)
*/

main {
  background-color: #efefef;
  min-height: 304svh;
}

.waves {
  width: 30%;
}

.waves_1 {
  /* margin-top: 2rem;
  margin-bottom: 2rem; */
  width: 70%;
  aspect-ratio: 5/1.5;
  top: 296%;
  position: absolute;
  right: 2%;
}

.overskrift {
  color: #648ec5;
  position: absolute;
  top: 8%;
  right: 5%;
  font-family: "Italiana", serif;
  z-index: 2;
  font-size: 4rem;
}

.underoverskrift {
  position: absolute;
  top: 21%;
  left: 30%;
  line-height: 1.2rem;
  padding-inline: 0vw;
}

/* LISTE STYLING */
.liste {
  position: absolute;
  top: 29%;
  left: 36%;
}
.emner li {
  padding: 1rem;
  border-bottom: #648ec5 solid;
}

.emner li a {
  font-size: 1rem;
  text-decoration: none;
  color: #444444;
}

@media screen and (min-width: 801px) {
  main {
    min-height: 578svh;
  }
  .waves {
    width: 20%;
  }
  .overskrift {
    top: 10%;
    left: 10%;

    /* z-index: 1; */
    font-size: 10rem;
  }

  .underoverskrift {
    top: 43%;
    right: 25%;
    font-size: 2rem;
    line-height: 3rem;
    padding-inline: 0;
  }

  .liste {
    top: 70%;
    left: 36%;
  }
  .emner li {
    padding: 2rem;
    font-size: 2.3rem;
  }

  .emner li a {
    font-size: 2rem;
  }

  .waves_1 {
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
    width: 65%;
    height: auto;
    top: 555%;
  }
}

/* STYLING AF KASSE-TEMA2 */
.grid_1-3 {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  background-color: white;
  margin: 1rem;
  position: absolute;
  top: 62%;
}

.sidebar2 h2 {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: #648ec5;
  font-family: "Italiana", serif;
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
}

.grid_3_3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 1rem;
  gap: 10px;
  align-items: center;
}

.grid_3_3 img {
  max-width: 100%;
}

.description {
  display: grid;
  grid-template-columns: 1fr;
  position: absolute;
  top: 96%;
}

.læsmere_knap2 {
  font-family: "Just Me Again Down Here", serif;
  font-size: 1.5rem;
  color: #fdcc26;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  bottom: -35%;
  right: 8%;
  transition: transform 0.3s ease;
}

.læsmere_knap2:hover {
  transform: scale(1.3);
}

@media screen and (min-width: 801px) {
  .grid_1-3 {
    position: absolute;
    top: 130%;
    margin: 2rem;
  }

  .sidebar2 h2 {
    margin: 1.5rem;
    font-size: 2.5rem;
  }

  .grid_3_3 {
    margin: 2rem;
    gap: 10px;
    align-items: center;
  }

  .grid_3_3 img {
    max-width: 75%;
  }

  .description {
    top: 205%;
    margin: 1rem;
  }

  .læsmere_knap2 {
    font-size: 2rem;
  }
}

/* STYLING AF KASSE-TEMA3 */
.grid_2-3 {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  background-color: white;
  margin: 1rem;
  position: absolute;
  top: 115%;
}

.sidebar3 h2 {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: #648ec5;
  font-family: "Italiana", serif;
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
}

.grid_4_4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 1rem;
  gap: 10px;
  align-items: center;
}

.grid_4_4 img {
  max-width: 100%;
}

.description3 {
  display: grid;
  grid-template-columns: 1fr;
  position: absolute;
  top: 149%;
}

.læsmere_knap3 {
  font-family: "Just Me Again Down Here", serif;
  font-size: 1.5rem;
  color: #fdcc26;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  bottom: -35%;
  right: 8%;
  transition: transform 0.3s ease;
}

.læsmere_knap3:hover {
  transform: scale(1.3);
}

@media screen and (min-width: 801px) {
  .grid_2-3 {
    position: absolute;
    top: 221%;
    margin: 2rem;
  }

  .sidebar3 h2 {
    margin: 1.5rem;
    font-size: 2.5rem;
  }

  .grid_4_4 {
    margin: 2rem;
    gap: 10px;
    align-items: center;
  }

  .grid_4_4 img {
    max-width: 75%;
  }

  .description3 {
    top: 308%;
    margin: 1rem;
  }

  .læsmere_knap3 {
    font-size: 2rem;
  }
}

/* STYLING AF KASSE-TEMA4 */
.grid_2-4 {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  background-color: white;
  margin: 1rem;
  position: absolute;
  top: 172%;
}

.sidebar4 h2 {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: #648ec5;
  font-family: "Italiana", serif;
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
}

.grid_5_5 {
  display: grid;
  grid-template-columns: 1fr;
  margin: 1rem;
  gap: 10px;
  align-items: center;
}

.grid_5_5 img {
  max-width: 90%;
}

.description4 {
  display: grid;
  grid-template-columns: 1fr;
  position: absolute;
  top: 214%;
}

.læsmere_knap4 {
  font-family: "Just Me Again Down Here", serif;
  font-size: 1.5rem;
  color: #fdcc26;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  bottom: -35%;
  right: 8%;
  transition: transform 0.3s ease;
}

.læsmere_knap4:hover {
  transform: scale(1.3);
}

@media screen and (min-width: 801px) {
  .grid_2-4 {
    position: absolute;
    top: 325%;
    margin: 2rem;
  }

  .sidebar4 h2 {
    margin: 1.5rem;
    font-size: 2.5rem;
  }

  .grid_5_5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem;
    gap: 10px;
    align-items: center;
  }

  .grid_5_5 img {
    max-width: 100%;
  }

  .description4 {
    top: 412%;
    margin: 1rem;
  }

  .læsmere_knap4 {
    font-size: 2rem;
  }
}

/* STYLING AF KASSE-TEMA5 */

.grid_2-5 {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  background-color: white;
  margin: 1rem;
  position: absolute;
  top: 237%;
}

.sidebar5 h2 {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: #648ec5;
  font-family: "Italiana", serif;
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
}

.grid_6_6 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem;
  gap: 10px;
  align-items: center;
}

.grid_6_6 img {
  max-width: 100%;
}

.description5 {
  display: grid;
  grid-template-columns: 1fr;
  position: absolute;
  top: 274%;
}

.læsmere_knap5 {
  font-family: "Just Me Again Down Here", serif;
  font-size: 1.5rem;
  color: #fdcc26;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  bottom: -35%;
  right: 8%;
  transition: transform 0.3s ease;
}

.læsmere_knap5:hover {
  transform: scale(1.3);
}

@media screen and (min-width: 801px) {
  .grid_2-5 {
    position: absolute;
    top: 430%;
    margin: 2rem;
  }

  .sidebar5 h2 {
    margin: 1.5rem;
    font-size: 2.5rem;
  }

  .grid_6_6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem;
    gap: 10px;
    align-items: center;
  }

  .grid_6_6 img {
    max-width: 100%;
  }

  .description5 {
    top: 529%;
    margin: 1rem;
  }

  .læsmere_knap5 {
    font-size: 2rem;
  }
}
